/*Rooms Scrollpane */
.scroll-pane{
    -fx-background: #000000;
    -fx-border-color: #000000;
 }
 
 .scroll-pane:focused{
    -fx-background: #000000;
    -fx-border-color: #000000;
 }

 .scroll-pane > .corner {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical
{
    -fx-background-color: transparent;
    -fx-background-radius: 0;

}

.scroll-pane .scroll-bar:horizontal
{
    -fx-background-color: transparent;
    -fx-background-radius: 0;

}

.scroll-pane .scroll-bar:vertical .track
{
    -fx-background: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.scroll-pane .scroll-bar:horizontal .decrement-button
{
    -fx-background: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;

}

.scroll-pane .scroll-bar:vertical .decrement-button
{

    -fx-background: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow
{
    -fx-padding: -2;
}

.scroll-pane .scroll-bar:vertical .thumb
{
    -fx-background-color: derive(black,80%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.scroll-pane .scroll-bar:horizontal .thumb
{
    -fx-background-color: derive(black,80%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}


/*Container within Scrollpane */
.stackPane-UI{
    -fx-background-color: transparent;
}


/*time header in Scrollpane */
.button-headerMin{
	-fx-background-color: #000000;
	-fx-text-fill:#ffffff;
	-fx-font-size:10px;
	-fx-font-weight:lighter;
	-fx-font-family:Calibri;
}

.button-header{
	-fx-background-color: #000000;
	-fx-text-fill:#ffffff;
	-fx-font-size:14px;
	-fx-font-weight:lighter;
	-fx-font-family:Calibri;
}


/*Rooms Toggle-Button */
.toggle-button-UI{
    -fx-background-color: #ffffff;
    /*-fx-border-width: .2;
    -fx-border-color:#eb777f;*/
}

.toggle-button-UI:hover{
    -fx-background-color: derive(#D3D3D3,70%);
}


.toggle-button-UI:selected{
    -fx-background-color: derive(#D3D3D3,50%);
}

.toggle-button-UI-rented{
    -fx-background-color: derive(#df505a,10%);
}


.toggle-button-UI-rented:hover{
    -fx-background-color: derive(#fd7d86,20%);
}

.toggle-button-UI-rented:selected{
    -fx-background-color: derive(#ff878e,30%);
}

/*Label of Current Day
 * Names with Min is for resolution 1366 x 768
 * Preferred Resolution: 1080p
 *
 */
.label-dayMin{
	-fx-background-color: transparent;
	-fx-text-fill:#f2f2f2;
	-fx-font-size:30px;
	-fx-font-weight:900;
	-fx-font-family: Cambria;
	
}

.label-day{
	-fx-background-color: transparent;
	-fx-text-fill:#f2f2f2;
	-fx-font-size:70px;
	-fx-font-weight:900;
	-fx-font-family: Cambria;
	
}


/*Label of Rooms
 * Names with Min is for resolution 1366 x 768
 * Preferred Resolution: 1080p
 *
 */
.label-1Min{
	-fx-background-color: transparent;
	-fx-text-fill:#eb777f;
	-fx-font-size:13px;
	-fx-font-weight:800;
	-fx-font-family: Arial;
}

.label-2Min{
	-fx-background-color: transparent;
	-fx-text-fill:#eb777f;
	-fx-font-size:28px;
	-fx-font-weight:900;
}

.label-1{
	-fx-background-color: transparent;
	-fx-text-fill:#eb777f;
	-fx-font-size:18px;
	-fx-font-weight:800;
	-fx-font-family: Arial;
}

.label-2{
	-fx-background-color: transparent;
	-fx-text-fill:#eb777f;
	-fx-font-size:37px;
	-fx-font-weight:900;
}

.label-rented{
	-fx-text-fill: #ffffff;
}

/* Floor Buttons
 * Names with Min is for resolution 1366 x 768
 * Preferred Resolution: 1080p
 *
 */

.button-floorMin{
	-fx-background-color: transparent;
	-fx-text-fill:#e99197;
	-fx-font-size:14px;
	-fx-font-family: Calibri;
	-fx-font-weight:700;
}

.button-floorMin:hover{
	-fx-text-fill:#ebbfc2;
}

.button-floorMin:focused{
	-fx-text-fill:#616161;
}


.button-floor{
	-fx-background-color: transparent;
	-fx-text-fill:#e99197;
	-fx-font-size:19px;
	-fx-font-family: Calibri;
	-fx-font-weight:700;
}

.button-floor:hover{
	-fx-text-fill:#ebbfc2;
}

.button-floor:focused{
	-fx-text-fill:#616161;
}


/* Function Buttons (Rent, Remove, Transaction)
 * Names with Min is for resolution 1366 x 768
 * Preferred Resolution: 1080p
 *
 */
 
.button-functionMin{
	-fx-background-color: transparent;
	-fx-text-fill: #ffffff;
	-fx-font-size: 20px;
	-fx-font-family:  Arial;
	-fx-font-weight: 900;
}

.button-functionMin:hover{
	-fx-text-fill:#ebbfc2;
}

.button-functionMin:focused{
	-fx-text-fill:#ca525b;
}



.button-function{
	-fx-background-color: transparent;
	-fx-text-fill: #ffffff;
	-fx-font-size: 34px;
	-fx-font-family:  Arial;
	-fx-font-weight: 900;
}

.button-function:hover{
	-fx-text-fill:#ebbfc2;
}

.button-function:focused{
	-fx-text-fill:#ca525b;
}


/* Generic Buttons (Prompt buttons)
 *
 */

.button-cancel{
    -fx-text-fill:#ffffff;
    -fx-background-color: #515151;
}

.button-cancel:hover{
    -fx-background-color: #ee626c;
}

.button-cancel:pressed{
    -fx-background-color: #ca525a;
}



.button-retry{
    -fx-text-fill:#ffffff;
    -fx-background-color: #515151;
}

.button-retry:hover{
    -fx-background-color: #ee626c;
}

.button-retry:pressed{
    -fx-background-color: #ca525a;
}



.button-confirm{
    -fx-text-fill:#ffffff;
    -fx-background-color: #515151;
}

.button-confirm:hover{
    -fx-background-color: #ee626c;
}

.button-confirm:pressed{
    -fx-background-color: #ca525a;
}

.button-ok{
    -fx-text-fill:#ffffff;
    -fx-background-color: #515151;
}

.button-ok:hover{
    -fx-background-color: #ee626c;
}

.button-ok:pressed{
    -fx-background-color: #ca525a;
}

.button-change{
    -fx-text-fill:#ffffff;
    -fx-background-color: #515151;
}

.button-change:hover{
    -fx-background-color: #ee626c;
}

.button-change:pressed{
    -fx-background-color: #ca525a;
}

.button-forgot{
	-fx-text-fill: #ca525a;
	-fx-background-color: transparent;
	-fx-font-weight: 700;
}

.button-forgot:hover{
	-fx-text-fill: #ee626c;
}

.button-forgot:pressed{
	-fx-text-fill: #ee626c;
}

.button-back{
    -fx-text-fill:#ffffff;
    -fx-background-color: #515151;
}

.button-back:hover{
    -fx-background-color: #ee626c;
}

.button-back:pressed{
    -fx-background-color: #ca525a;
}


/*Transaction Buttons */
.button-selection{
	-fx-background-color: transparent;
	-fx-text-fill: #8b8b8b;
	-fx-font-family: Arial;
	-fx-font-weight: 800;
	-fx-font-size: 24px;
}

.button-selection:hover{
	-fx-font-fill: #dfdfdf;
}

.button-Tile1{
	-fx-background-color: #000000;
	-fx-text-fill: #ffffff;
}
